.headerContainer {
  background: var(--gray-700);
  height: 12.5rem;
  border: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer span:first-child {
  font-size: large;
  font-weight: 700;
  color: var(--blue-100);
  margin-right: 0.5rem;
}

.headerContainer span:last-child {
  font-size: large;
  font-weight: 700;
  color: var(--purple-100);
  margin-right: 0.5rem;
}
