.main-container {
  width: 90rem;
  background-color: var(--gray-100);
  margin-bottom: 0.5rem;
  padding: 1rem 1rem 1rem 2.5rem;
}

.article-container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
